<h1>Listing audio_files</h1>

<table>
  <tr>
  </tr>

<% for audio_file in @audio_files %>
  <tr>
    <td><%= audio_file.filename %></td>
    <td><%= link_to 'Add to queue', audio_queues_path('audio_queue[audio_file_id]' => audio_file.id), :method => :post %>
    <!-- <td><%= link_to 'Show', audio_file %></td>
    <td><%= link_to 'Edit', edit_audio_file_path(audio_file) %></td>
    <td><%= link_to 'Destroy', audio_file, :confirm => 'Are you sure?', :method => :delete %></td> -->
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New audio_file', new_audio_file_path %>
